streamlit
numpy
pandas
easyocr
torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1
transformers
opencv-python-headless
scikit-learn
nltk
spacy
easyocr
pytesseract
Pillow
pyvis
networkx
matplotlib
requests
python-dateutil
streamlit-agraph


