streamlit
pandas
numpy
scikit-learn
transformers
nltk
spacy
matplotlib
Pillow
requests
geopy
networkx
pyvis
python-dateutil
streamlit-agraph
opencv-python-headless
pytesseract
torch==2.2.0
torchvision==0.17.0
easyocr==1.7.1
